@model MusicPlatform.Models.BestOfViewModel

@{
    ViewBag.Title = "Home Page";
}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css" />
    <style>
        .coverContainer img {
            height: 200px;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            transition: filter 0.3s, opacity 0.3s;
        }
        .coverContainer {
            position: relative;
            width: 200px;
            max-width: 200px;
            height: 200px;
            overflow-x: hidden;
            margin: 30px;
            transition: filter 0.3s, opacity 0.3s;
        }
        .coverContainer:hover img {
            filter: brightness(20%);
        }
        .coverContainer:hover .hoverText {
            display: block;
        }
        .hoverText {
            display: none;
            width: 190px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            font-size: 30px;
            line-height: 34px;
        }
        .slick-prev,
        .slick-next {
            color: white;
            background-color: transparent;
            border: none;
            font-size: 0;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }
        .slick-prev {
            left: -10px;
        }
        .slick-next {
            right: -10px;
        }
        .slick-prev::before {
            content: "<";
            color: white;
            font-size: 25px;
        }
        .slick-next::before {
            content: ">";
            color: white;
            font-size: 25px;
        }
        .video-slider{
            padding: 0 20px;
        }
        h3{
            margin-top: 30px;
        }
        .trending::before {
            content: "";
            background-image: url( @Model.Trending.Album.AlbumArtURL );
            filter: blur(3px), contrast(1px);
            opacity: 0.5;
            background-position: -2%, -2%;
            background-size: 34%;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transition: filter 0.3s, opacity 0.3s;
        }
        .trending {
            position: relative;
            color: white;
            height: 400px;
            width: 100%;
            text-align: center;
            vertical-align: middle;
            padding: 50px;
        }
        .trending:hover::before{
            filter: blur(1px);
            opacity: 0.3;
        }
        .trending:hover{
            opacity: 1;
            border: 1px solid #ffffff25;
            border-radius: 5px;
        }
    </style>
</head>
<body>
    <main>
        <a href="/Songs/Details/@Model.Trending.Id" class="trending btn">            
            <h3 style="font-size: 40px;">Trending</h3>
            <br />
            <h1 style="font-size: 70px;">@Model.Trending.Title</h1>
            <h2 style="font-size:50px;">by @Model.Trending.Artist.Name</h2>
        </a>

        <hr />
        <div style="text-align: center;">
            <div>
                <h3>Top Artists</h3>
                <ul class="video-slider">
                    @foreach (var artist in Model.TopArtists)
                    {
                        <li class="coverContainer">
                            <a href="Artists/Details/@artist.Id">
                                <img src="@artist.PhotoUrl" />
                                <p class="hoverText">@artist.Name</p>
                            </a>
                        </li>
                    }
                </ul>
            </div>
            <hr />
            <div>
                <h3>Top Songs</h3>
                <ul class="video-slider">
                    @foreach (var song in Model.TopSongs)
                    {
                        <li class="coverContainer">
                            <a href="Songs/Details/@song.Id">
                                <img src="@song.Album.AlbumArtURL" />
                                <p class="hoverText">@song.Title</p>
                            </a>
                        </li>
                    }
                </ul>
            </div>
            <hr />
            <div>
                <h3>Top Albums</h3>
                <ul class="video-slider">
                    @foreach (var album in Model.TopAlbums)
                    {
                        <li class="coverContainer">
                            <a href="Albums/Details/@album.Id">
                                <img src="@album.AlbumArtURL" />
                                <p class="hoverText">@album.Title</p>
                            </a>
                        </li>
                    }
                </ul>
            </div>
            <hr />
            <br />
            <br />
            <hr />
            <div>
                <h3>Pop Songs</h3>
                <ul class="video-slider">
                    @foreach (var song in Model.PopSongs)
                    {
                        <li class="coverContainer">
                            <a href="Songs/Details/@song.Id">
                                <img src="@song.Album.AlbumArtURL" />
                                <p class="hoverText">@song.Title</p>
                            </a>
                        </li>
                    }
                </ul>
            </div>
            <hr />
            <div>
                <h3>Rap Songs</h3>
                <ul class="video-slider">
                    @foreach (var song in Model.RapSongs)
                    {
                        <li class="coverContainer">
                            <a href="Songs/Details/@song.Id">
                                <img src="@song.Album.AlbumArtURL" />
                                <p class="hoverText">@song.Title</p>
                            </a>
                        </li>
                    }
                </ul>
            </div>
            <hr />
            <div>
                <h3>R&B Songs</h3>
                <ul class="video-slider">
                    @foreach (var song in Model.RBSongs)
                    {
                        <li class="coverContainer">
                            <a href="Songs/Details/@song.Id">
                                <img src="@song.Album.AlbumArtURL" />
                                <p class="hoverText">@song.Title</p>
                            </a>
                        </li>
                    }
                </ul>
            </div>
            <hr />
            <div>
                <h3>K-pop Songs</h3>
                <ul class="video-slider">
                    @foreach (var song in Model.KPopSongs)
                    {
                        <li class="coverContainer">
                            <a href="Songs/Details/@song.Id">
                                <img src="@song.Album.AlbumArtURL" />
                                <p class="hoverText">@song.Title</p>
                            </a>
                        </li>
                    }
                </ul>
            </div>
            <hr />
            <div>
                <h3>Rock Songs</h3>
                <ul class="video-slider">
                    @foreach (var song in Model.RockSongs)
                    {
                        <li class="coverContainer">
                            <a href="Songs/Details/@song.Id">
                                <img src="@song.Album.AlbumArtURL" />
                                <p class="hoverText">@song.Title</p>
                            </a>
                        </li>
                    }
                </ul>
            </div>
            <hr /><br />
        </div>
    </main>
</body>
</html>
@section scripts{
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
    <script>
        (function ($) {
            $(document).ready(function () {
                // Initialize Slick Carousel
                $(".video-slider").slick({
                    dots: false,
                    infinite: true,
                    slidesToShow: 5,
                    slidesToScroll: 1
                });
            });
        })(jQuery);
    </script>
}